{% if categories %}
    <div class="card mb-3">
        <div class="card-header">问题分类</div>
        <ul class="list-group list-group-flush">
            {% for catid, catname in categories.iteritems() %}
                <li class="list-group-item2 list-group-item list-group-item-action d-flex justify-content-between align-items-center ">
                    <a href="{{ url_for('front.show_category', category_id=catid) }}">
                        {{ catname }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}