{% extends 'base.html' %}

{% block title %}我发布的问题{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myquestion.css' ) }}">
{% endblock %}

{% block content %}

     <div class="row">
         {% if current_user.admin %}
         <h3>Ta发布的问题</h3>
         {% else %}
         <h3>我发布的问题</h3>
         {% endif %}
         <div class="row1">
                <div class="ques_container">
                    {% include 'front/_question.html' %}
                </div>
        </div>
     </div>

    <div class="col-sm-4 sidebar ">
			{% include 'front/_sidebar.html' %}
    </div>

{% endblock %}