* {
		padding: 0;
		margin: 0;
	}
	body {
		background-color: #eee;   /*灰色背景*/
	}
	nav {
		width: 100%;
		height: 60px;
		border-bottom: 1px solid black;
		background-color: white;
	}
	nav ul {
		padding: 10px 30px;
	}
	nav li {
		list-style: none;
		float: left;       /*排成一行*/
		margin: 10px 20px;
	}
	nav li:nth-child(6)
	{
		margin-left: 700px;
	}
	ul li a {
		text-decoration: none;
		color: black;
	}

	form {
		margin: 10px auto;
	}

	main {
		width: 100%;
		display: flex;
	}

	main .leftbar {
		flex: 5;
		border-right: 1px solid black;
	}
	main .rightbar {
		flex: 2;
	}

	main .submit_ques {
		overflow: hidden;
		/*width: 70%;*/
		margin: 30px auto;
		border-bottom: 1px solid black;
	}

	.form_container {
		/*padding: 10px 0;*/
		/*text-align: right;  !*按钮右对齐*!*/
	}
	.form_group .form_control
	{
		width: 100%;
        height: 30px;
		margin: 10px 0px;
	}

	/*div input {*/
		/*height: 30px;          !*问题标题宽度*!*/
	/*}*/

	.form_container .btn {
		width: 50px;
		height: 33px;
		font-size:  15px;
	}

	/*显示问题区域*/
	.ques_container {
		padding: 10px 150px;
	}

	.ques {
		height: 60px;
		width: 100%;
		border-bottom: 1px dashed black;
	}

	/*分类栏*/
	.rightbar ul
	{
		overflow: hidden;
	}

	footer {
		text-align: center;
	}
