/*body {*/
    /*margin: auto;*/
    /*width: 750px;*/
/*}*/
/*nav ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: #333;*/
/*}*/

/*nav li {*/
    /*float: left;*/
/*}*/

/*nav li a {*/
    /*display: block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /*text-decoration: none;*/
/*}*/
	nav {
		width: 100%;
		height: 60px;
		border-bottom: 1px solid black;
		background-color: white;
	}
	nav ul {
		padding: 10px 30px;
	}
	nav li {
		list-style: none;
		float: left;       /*排成一行*/
		margin: 10px 20px;
	}
	nav li:nth-child(6)
	{
		margin-left: 700px;
	}
	ul li a {
		text-decoration: none;
		color: black;
	}

main {
    padding: 10px 20px;
}

footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;

}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
