body {
    margin: auto;
    width: 1000px;
    background-image: url("b2.jpg");
    background-size: cover;
}

main {
    padding: 10px 20px;
    opacity: 0.7;
    background-color: white;
}
.navbar{
    margin-bottom:0px;

}
footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;

}
.btn {
    float: right;
}

.btn-sm{
    float: left;
}

.container {
    width: 1000px;
}

.row{
    margin-right: 0;
}

.page-header{
    margin: 0;
    margin-bottom: 20px;
}

.form-contain{
    width: 70%;
}

/*.alert-info1 {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert1 {
    position: fixed;
    left: 940px;
    top: 4px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #d9edf7;
}
/*.alert {*/
  /*position: relative;*/
  /*padding: 0.75rem 1.25rem;*/
  /*margin-bottom: 1rem;*/
  /*border: 1px solid transparent;*/
  /*border-radius: 0.25rem;*/
  /*color: #004085;*/
  /*background-color: #cce5ff;*/
  /*border-color: #b8daff;*/
/*}*/
.list-group-item2:hover{
	background-color: #0c5460;
}




